langgraph
schedule
python-dotenv
selenium
langchain_google_genai
langchain_core
langchain_community
langchain_huggingface
bm25
faiss-cpu
pandas
numpy
tqdm
beautifulsoup4
requests
webdriver-manager
fastapi
uvicorn
pydantic
python-multipart
